MessageFacade-local/src/wsdl/MessageManagerImplService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://service/" targetNamespace="http://service/">
    <xsd:complexType name="getMessagesByDateResponse">
        <xsd:sequence>
            <xsd:element name="message" type="ns0:message" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getMessagesBySenderResponse">
        <xsd:sequence>
            <xsd:element name="message" type="ns0:message" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="message">
        <xsd:sequence>
            <xsd:element name="content" type="xsd:string" minOccurs="0"/>
            <xsd:element name="id" type="xsd:int" minOccurs="0"/>
            <xsd:element name="sendTime" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="sender" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getMessagesByDate">
        <xsd:sequence>
            <xsd:element name="SendTime" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getMessagesBySender">
        <xsd:sequence>
            <xsd:element name="Sender" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getMessagesByDateResponse" type="ns0:getMessagesByDateResponse"/>
    <xsd:element name="getMessagesBySenderResponse" type="ns0:getMessagesBySenderResponse"/>
    <xsd:element name="getMessagesByDate" type="ns0:getMessagesByDate"/>
    <xsd:element name="getMessagesBySender" type="ns0:getMessagesBySender"/>
</xsd:schema>