MessageFacade-ejb/src/wsdl/FacadeBeanService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://service/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="FacadeBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="FacadeBeanService.xsd"/>
</xsd:schema>
</types>
<message name="getMessagesBySender">
<part name="parameters" element="tns:getMessagesBySender"/>
</message>
<message name="getMessagesBySenderResponse">
<part name="parameters" element="tns:getMessagesBySenderResponse"/>
</message>
<message name="getMessagesByDate">
<part name="parameters" element="tns:getMessagesByDate"/>
</message>
<message name="getMessagesByDateResponse">
<part name="parameters" element="tns:getMessagesByDateResponse"/>
</message>
<message name="deleteMessage">
<part name="parameters" element="tns:deleteMessage"/>
</message>
<message name="deleteMessageResponse">
<part name="parameters" element="tns:deleteMessageResponse"/>
</message>
<message name="addMessage">
<part name="parameters" element="tns:addMessage"/>
</message>
<message name="addMessageResponse">
<part name="parameters" element="tns:addMessageResponse"/>
</message>
<portType name="MessageFacadeService">
<operation name="getMessagesBySender">
<input wsam:Action="http://service/MessageFacadeService/getMessagesBySenderRequest" message="tns:getMessagesBySender"/>
<output wsam:Action="http://service/MessageFacadeService/getMessagesBySenderResponse" message="tns:getMessagesBySenderResponse"/>
</operation>
<operation name="getMessagesByDate">
<input wsam:Action="http://service/MessageFacadeService/getMessagesByDateRequest" message="tns:getMessagesByDate"/>
<output wsam:Action="http://service/MessageFacadeService/getMessagesByDateResponse" message="tns:getMessagesByDateResponse"/>
</operation>
<operation name="deleteMessage">
<input wsam:Action="http://service/MessageFacadeService/deleteMessageRequest" message="tns:deleteMessage"/>
<output wsam:Action="http://service/MessageFacadeService/deleteMessageResponse" message="tns:deleteMessageResponse"/>
</operation>
<operation name="addMessage">
<input wsam:Action="http://service/MessageFacadeService/addMessageRequest" message="tns:addMessage"/>
<output wsam:Action="http://service/MessageFacadeService/addMessageResponse" message="tns:addMessageResponse"/>
</operation>
</portType>
<binding name="FacadeBeanPortBinding" type="tns:MessageFacadeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMessagesBySender">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMessagesByDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FacadeBeanService">
<port name="FacadeBeanPort" binding="tns:FacadeBeanPortBinding">
<soap:address location="http://desktop-t4t3n14:8080/MessageFacade/FacadeBeanService"/>
</port>
</service>
</definitions>